# Accidentes de tráfico con implicación de bicicletas
<b>César Gil Moreno</b><br><br>
El dataset analizado contiene accidentes de tráfico en la Ciudad de Madrid registrados por Policía Municipal desde 01/01/2010 hasta 29/12/2018, donde está implicada al menos una bicicleta y se encuentra disponible en el siguiente [enlace](https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=20f4a87ebb65b510VgnVCM1000001d4a900aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default)<br>

## DATOS DEL DATASET

FECHA<br>
RANGO HORARIO<br>
DIA SEMANA -> día de la semana<br>
DISTRITO -> barrio<br>
LUGAR ACCIDENTE -> calle<br>
Nº -> número de la via (se limpia)<br>
Nº PARTE <br>
CPFA Granizo (clima)<br>
CPFA Hielo (clima)<br>
CPFA Lluvia (clima)<br>
CPFA Niebla (clima)<br>
CPFA Seco (clima)<br>
CPFA Nieve (clima)<br>
CPSV Mojada (estado de la calzada)<br>
CPSV Aceite (estado de la calzada)<br>
CPSV Barro (estado de la calzada)<br>
CPSV Grava Suelta (estado de la calzada)<br>
CPSV Hielo (estado de la calzada)<br>
CPSV Seca Y Limpia(estado de la calzada)<br>
Nº VICTIMAS <br>
TIPO ACCIDENTE -> ATROPELLO,CAÍDA BICICLETA, CAÍDA MOTOCICLETA, COLISIÓN DOBLE, COLISIÓN MÚLTIPLE, CHOQUE CON OBJETO FIJO<br>
Tipo Vehiculo -> BICICLETA (SE LIMPIA)<br>                         
TIPO PERSONA -> CONDUCTOR, VIAJERO.<br>
LESIVIDAD-> ILESO, HERIDO LEVE, HERIDO GRAVE. Los no asignados se limpian<br>
SEXO -> hombre o mujer. los no asignados se limpian<br>
Tramo Edad<br>

### Carga de librerias y preparado del dataset

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot

In [66]:
import io
import requests
import lxml
import html5lib
columns = [
    "fecha", "rangoHorario", "dia", "distrito", "calle", "nCalle", "nParte", "climaGranizo", "climaHielo", "climaLluvia", 
    "climaNiebla", "climaSeco", "climaNieve", "calzadaMojada", "calzadaAceite", "calzadaBarro", "calzadaGrava", "calzadaHielo",
    "calzadaSecaLimpia", "nVictimas", "tipoAccidente", "tipoVehiculo", "tipoPersona", "sexo", "lesividad", "tramoEdad"
]

df = pd.read_excel('https://datos.madrid.es/egob/catalogo/300110-3-accidentes-bicicleta.xlsx', names=columns)
# se intentó cargar el csv mediante read_csv y read_html pero para un enlace externo no funcionó.
#url="https://datos.madrid.es/egobfiles/MANUAL/300110/AccidentesBicicletas_2018.csv"
#string=requests.get(url).content
#csv=pd.read_csv(io.StringIO(string.decode('utf-8', errors="ignore")), sep=",", names=new_names)
#df = pd.read_html(url, thousands='.', decimal=',')[3]

df.head()

,fecha,rangoHorario,dia,distrito,calle,nCalle,nParte,climaGranizo,climaHielo,climaLluvia,...,calzadaGrava,calzadaHielo,calzadaSecaLimpia,nVictimas,tipoAccidente,tipoVehiculo,tipoPersona,sexo,lesividad,tramoEdad
0,2018-01-01,DE 13:00 A 13:59,LUNES,ARGANZUELA,CALLE DE ANCORA - PASEO DE LAS DELICIAS ...,0,2018/25,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 30 A 34 ANOS
1,2018-01-01,DE 15:00 A 15:59,LUNES,CENTRO,CALLE DE ALCALA NUM ...,44,2018/76,NO,NO,NO,...,NO,NO,SI,2,ATROPELLO,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 25 A 29 AÑOS
2,2018-01-02,DE 12:00 A 12:59,MARTES,SALAMANCA,CALLE DE SERRANO - CALLE DEL CONDE DE ARANDA ...,0,2018/30,NO,NO,NO,...,NO,NO,SI,2,ATROPELLO,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 40 A 44 AÑOS
3,2018-01-03,DE 13:00 A 13:59,MIERCOLES,SALAMANCA,PLAZA DE LA INDEPENDENCIA NUM ...,5,2018/94,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 50 A 54 AÑOS
4,2018-01-03,DE 15:00 A 15:59,MIERCOLES,CIUDAD LINEAL,CALLE DE RAMIREZ DE ARELLANO NUM ...,35,2018/361,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 25 A 29 AÑOS

A continuación se han eliminados las columnas que no van a ser analizadas y también los campos no asignados que para este caso han sido tratados como no válidos.

In [35]:
#Eliminar columnas

# Todos los tipos de vehículo son biciletas por lo que no se ha tenido en cuenta esta columna
del df["tipoVehiculo"]

# Tampoco se ha tenido en cuenta el número de la calle en cuestión
del df["nCalle"]

# El nº de parte tampoco es necesario
del df["nParte"]

df.head(2)

,fecha,rangoHorario,dia,distrito,lugarAccidente,climaGranizo,climaHielo,climaLluvia,climaNiebla,climaSeco,...,calzadaBarro,calzadaGrava,calzadaHielo,calzadaSecaLimpia,nVictimas,tipoAccidente,tipoPersona,sexo,lesividad,tramoEdad
0,2018-01-01,DE 13:00 A 13:59,LUNES,ARGANZUELA,CALLE DE ANCORA - PASEO DE LAS DELICIAS ...,NO,NO,NO,NO,SI,...,NO,NO,NO,SI,1,COLISIÓN DOBLE,CONDUCTOR,HOMBRE,HL,DE 30 A 34 ANOS
1,2018-01-01,DE 15:00 A 15:59,LUNES,CENTRO,CALLE DE ALCALA NUM ...,NO,NO,NO,NO,SI,...,NO,NO,NO,SI,2,ATROPELLO,CONDUCTOR,HOMBRE,HL,DE 25 A 29 AÑOS

In [41]:
df["sexo"].count()
# Limpieza de los no asignados tanto en sexo como en lesividad del accidente
df = df[df.sexo != "NO ASIGNADO"]
df = df[df.lesividad != "NO ASIGNADO"] # este no es necesario ya que coincide con los campos de la columna sexo

In [32]:
df.count()

fecha                689
rangoHorario         689
dia                  689
distrito             689
lugarAccidente       689
nParte               689
climaGranizo         689
climaHielo           689
climaLluvia          689
climaNiebla          689
climaSeco            689
climaNieve           689
calzadaMojada        689
calzadaAceite        689
calzadaBarro         689
calzadaGrava         689
calzadaHielo         689
calzadaSecaLimpia    689
nVictimas            689
tipoAccidente        689
tipoPersona          689
sexo                 689
lesividad            689
tramoEdad            689
dtype: int64

### Victimas totales

In [50]:
df["nVictimas"].sum()

776

### Victimas por distrito
victimas por distrito ordenadas de mayor a menor

In [47]:
victimasPorDistrito = df.groupby(["distrito"])["nVictimas"].sum().sort_values(ascending = False)

In [48]:
victimasPorDistrito.head

<bound method NDFrame.head of distrito
CENTRO                            149
MONCLOA-ARAVACA                    65
RETIRO                             54
CHAMBERI                           52
SALAMANCA                          50
LATINA                             42
CARABANCHEL                        38
FUENCARRAL-EL PARDO                37
ARGANZUELA                         36
TETUAN                             36
PUENTE DE VALLECAS                 30
CHAMARTIN                          27
SAN BLAS                           26
CIUDAD LINEAL                      26
HORTALEZA                          23
USERA                              21
MORATALAZ                          17
VILLA DE VALLECAS                  15
VICALVARO                          12
VILLAVERDE                         12
BARAJAS                             8
Name: nVictimas, dtype: int64>

### Numero de lesiones producidas por el accidente dependiendo de la lesividad

In [54]:
victimasPorLesividad = pd.pivot_table(df, index= "lesividad", aggfunc="sum", values="nVictimas")

In [57]:
# Heridos Graves 68
# Heridos Leves 632
# Ilesos 76

victimasPorLesividad

                                          nVictimas
lesividad
HG                                               68
HL                                              632
IL                                               76

### nVictimas por Sexo

In [61]:
victimasPorSexo = df.groupby(["sexo"])["nVictimas"].sum()

In [62]:
# 626 Hombres
# 150 Mujeres
victimasPorSexo

sexo
HOMBRE    626
MUJER     150
Name: nVictimas, dtype: int64

### nVictimas por Rango de edad

In [64]:
victimasPorEdad = df.groupby(["tramoEdad"])["nVictimas"].sum()

In [65]:
# Gente comprendida entre 25 y 34 años sufren bastante más accidentes que el resto de grupos
# NO se habia limpiado del todo el dataset ya que hay 2 campos que contienen una edad desconocida, para el caso se ha obviado al no ser relevante

victimasPorEdad

tramoEdad
DE 10 A 14 AÑOS        21
DE 15 A 17 AÑOS        27
DE 18 A 20 AÑOS        54
DE 21 A 24 AÑOS        44
DE 25 A 29 AÑOS       135
DE 30 A 34 ANOS       110
DE 35 A 39 AÑOS        91
DE 40 A 44 AÑOS        86
DE 45 A 49 AÑOS        65
DE 50 A 54 AÑOS        52
DE 55 A 59 AÑOS        40
DE 6 A 9 AÑOS           4
DE 60 A 64 AÑOS        16
DE 65 A 69 AÑOS        12
DE 70 A 74 AÑOS        10
DE MAS DE 74 AÑOS       7
DESCONOCIDA             2
Name: nVictimas, dtype: int64

### Accidentes teniendo en cuenta el tipo de accidente y el clima o estado de la via

In [ ]:
## Mezclar por ejemplo cuando hizo lluvia y se chocaron contra un objeto. por ejemplo,