# Accidentes de tráfico con implicación de bicicletas
<b>César Gil Moreno</b><br><br>
El dataset analizado contiene accidentes de tráfico en la Ciudad de Madrid registrados por Policía Municipal desde 01/01/2010 hasta 29/12/2018, donde está implicada al menos una bicicleta y se encuentra disponible en el siguiente [enlace](https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=20f4a87ebb65b510VgnVCM1000001d4a900aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default)<br>

## DATOS DEL DATASET

FECHA<br>
RANGO HORARIO<br>
DIA SEMANA -> día de la semana<br>
DISTRITO -> barrio<br>
LUGAR ACCIDENTE -> calle<br>
Nº -> número de la via (se limpia)<br>
Nº PARTE <br>
CPFA Granizo (clima)<br>
CPFA Hielo (clima)<br>
CPFA Lluvia (clima)<br>
CPFA Niebla (clima)<br>
CPFA Seco (clima)<br>
CPFA Nieve (clima)<br>
CPSV Mojada (estado de la calzada)<br>
CPSV Aceite (estado de la calzada)<br>
CPSV Barro (estado de la calzada)<br>
CPSV Grava Suelta (estado de la calzada)<br>
CPSV Hielo (estado de la calzada)<br>
CPSV Seca Y Limpia(estado de la calzada)<br>
Nº VICTIMAS <br>
TIPO ACCIDENTE -> ATROPELLO,CAÍDA BICICLETA, CAÍDA MOTOCICLETA, COLISIÓN DOBLE, COLISIÓN MÚLTIPLE, CHOQUE CON OBJETO FIJO<br>
Tipo Vehiculo -> BICICLETA (SE LIMPIA)<br>                         
TIPO PERSONA -> CONDUCTOR, VIAJERO.<br>
LESIVIDAD-> ILESO, HERIDO LEVE, HERIDO GRAVE. Los no asignados se limpian<br>
SEXO -> hombre o mujer. los no asignados se limpian<br>
Tramo Edad<br>

### Carga de librerias y preparado del dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot

In [2]:
import io
import requests
import lxml
import html5lib
columns = ["fecha", "rangoHorario", "dia", "distrito", "calle", "nCalle", "nParte", "climaGranizo", "climaHielo", "climaLluvia", 
    "climaNiebla", "climaSeco", "climaNieve", "calzadaMojada", "calzadaAceite", "calzadaBarro", "calzadaGrava", "calzadaHielo",
    "calzadaSecaLimpia", "nVictimas", "tipoAccidente", "tipoVehiculo", "tipoPersona", "sexo", "lesividad", "tramoEdad"
]

df = pd.read_excel('https://datos.madrid.es/egob/catalogo/300110-3-accidentes-bicicleta.xlsx', names=columns)
# se intentó cargar el csv mediante read_csv y read_html pero para un enlace externo no funcionó.
#url="https://datos.madrid.es/egobfiles/MANUAL/300110/AccidentesBicicletas_2018.csv"
#string=requests.get(url).content
#csv=pd.read_csv(io.StringIO(string.decode('utf-8', errors="ignore")), sep=",", names=new_names)
#df = pd.read_html(url, thousands='.', decimal=',')

df.head()

,fecha,rangoHorario,dia,distrito,calle,nCalle,nParte,climaGranizo,climaHielo,climaLluvia,...,calzadaGrava,calzadaHielo,calzadaSecaLimpia,nVictimas,tipoAccidente,tipoVehiculo,tipoPersona,sexo,lesividad,tramoEdad
0,2018-01-01,DE 13:00 A 13:59,LUNES,ARGANZUELA,CALLE DE ANCORA - PASEO DE LAS DELICIAS ...,0,2018/25,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 30 A 34 ANOS
1,2018-01-01,DE 15:00 A 15:59,LUNES,CENTRO,CALLE DE ALCALA NUM ...,44,2018/76,NO,NO,NO,...,NO,NO,SI,2,ATROPELLO,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 25 A 29 AÑOS
2,2018-01-02,DE 12:00 A 12:59,MARTES,SALAMANCA,CALLE DE SERRANO - CALLE DEL CONDE DE ARANDA ...,0,2018/30,NO,NO,NO,...,NO,NO,SI,2,ATROPELLO,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 40 A 44 AÑOS
3,2018-01-03,DE 13:00 A 13:59,MIERCOLES,SALAMANCA,PLAZA DE LA INDEPENDENCIA NUM ...,5,2018/94,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 50 A 54 AÑOS
4,2018-01-03,DE 15:00 A 15:59,MIERCOLES,CIUDAD LINEAL,CALLE DE RAMIREZ DE ARELLANO NUM ...,35,2018/361,NO,NO,NO,...,NO,NO,SI,1,COLISIÓN DOBLE,BICICLETA,CONDUCTOR,HOMBRE,HL,DE 25 A 29 AÑOS

A continuación se han eliminados las columnas que no van a ser analizadas y también los campos no asignados que para este caso han sido tratados como no válidos.

In [3]:
#Eliminar columnas

# Todos los tipos de vehículo son biciletas por lo que no se ha tenido en cuenta esta columna
del df["tipoVehiculo"]

# Tampoco se ha tenido en cuenta el número de la calle en cuestión
del df["nCalle"]

# El nº de parte tampoco es necesario
del df["nParte"]

df.head(2)

,fecha,rangoHorario,dia,distrito,calle,climaGranizo,climaHielo,climaLluvia,climaNiebla,climaSeco,...,calzadaBarro,calzadaGrava,calzadaHielo,calzadaSecaLimpia,nVictimas,tipoAccidente,tipoPersona,sexo,lesividad,tramoEdad
0,2018-01-01,DE 13:00 A 13:59,LUNES,ARGANZUELA,CALLE DE ANCORA - PASEO DE LAS DELICIAS ...,NO,NO,NO,NO,SI,...,NO,NO,NO,SI,1,COLISIÓN DOBLE,CONDUCTOR,HOMBRE,HL,DE 30 A 34 ANOS
1,2018-01-01,DE 15:00 A 15:59,LUNES,CENTRO,CALLE DE ALCALA NUM ...,NO,NO,NO,NO,SI,...,NO,NO,NO,SI,2,ATROPELLO,CONDUCTOR,HOMBRE,HL,DE 25 A 29 AÑOS

In [4]:
df["sexo"].count()
# Limpieza de los no asignados tanto en sexo como en lesividad del accidente
df = df[df.sexo != "NO ASIGNADO"]
df = df[df.lesividad != "NO ASIGNADO"] # este no es necesario ya que coincide con los campos de la columna sexo

In [5]:
df.count()

fecha                689
rangoHorario         689
dia                  689
distrito             689
calle                689
climaGranizo         689
climaHielo           689
climaLluvia          689
climaNiebla          689
climaSeco            689
climaNieve           689
calzadaMojada        689
calzadaAceite        689
calzadaBarro         689
calzadaGrava         689
calzadaHielo         689
calzadaSecaLimpia    689
nVictimas            689
tipoAccidente        689
tipoPersona          689
sexo                 689
lesividad            689
tramoEdad            689
dtype: int64

### Victimas totales

In [6]:
df["nVictimas"].sum()

776

### Victimas por distrito
victimas por distrito ordenadas de mayor a menor

In [7]:
victimasPorDistrito = df.groupby(["distrito"])["nVictimas"].sum().sort_values(ascending = False)

In [8]:
victimasPorDistrito.head

<bound method NDFrame.head of distrito
CENTRO                            149
MONCLOA-ARAVACA                    65
RETIRO                             54
CHAMBERI                           52
SALAMANCA                          50
LATINA                             42
CARABANCHEL                        38
FUENCARRAL-EL PARDO                37
ARGANZUELA                         36
TETUAN                             36
PUENTE DE VALLECAS                 30
CHAMARTIN                          27
SAN BLAS                           26
CIUDAD LINEAL                      26
HORTALEZA                          23
USERA                              21
MORATALAZ                          17
VILLA DE VALLECAS                  15
VICALVARO                          12
VILLAVERDE                         12
BARAJAS                             8
Name: nVictimas, dtype: int64>

### Numero de lesiones producidas por el accidente dependiendo de la lesividad

In [9]:
victimasPorLesividad = pd.pivot_table(df, index= "lesividad", aggfunc="sum", values="nVictimas")

In [10]:
# Heridos Graves 68
# Heridos Leves 632
# Ilesos 76

victimasPorLesividad

                                          nVictimas
lesividad
HG                                               68
HL                                              632
IL                                               76

### nVictimas por Sexo

In [11]:
victimasPorSexo = df.groupby(["sexo"])["nVictimas"].sum()

In [12]:
# 626 Hombres
# 150 Mujeres
victimasPorSexo

sexo
HOMBRE    626
MUJER     150
Name: nVictimas, dtype: int64

### nVictimas por Rango de edad

In [13]:
victimasPorEdad = df.groupby(["tramoEdad"])["nVictimas"].sum()

In [14]:
# Gente comprendida entre 25 y 34 años sufren bastante más accidentes que el resto de grupos
# NO se habia limpiado del todo el dataset ya que hay 2 campos que contienen una edad desconocida, para el caso se ha obviado al no ser relevante

victimasPorEdad

tramoEdad
DE 10 A 14 AÑOS        21
DE 15 A 17 AÑOS        27
DE 18 A 20 AÑOS        54
DE 21 A 24 AÑOS        44
DE 25 A 29 AÑOS       135
DE 30 A 34 ANOS       110
DE 35 A 39 AÑOS        91
DE 40 A 44 AÑOS        86
DE 45 A 49 AÑOS        65
DE 50 A 54 AÑOS        52
DE 55 A 59 AÑOS        40
DE 6 A 9 AÑOS           4
DE 60 A 64 AÑOS        16
DE 65 A 69 AÑOS        12
DE 70 A 74 AÑOS        10
DE MAS DE 74 AÑOS       7
DESCONOCIDA             2
Name: nVictimas, dtype: int64

### Accidentes ocurridos por día de la semana

In [15]:
accidentesPorDia = pd.pivot_table(df, index= "diaSemana", aggfunc="sum", values="nVictimas")


## Habia esperado encontrar mayor numero de accidentes en fines de semana, pero no ha sido así
accidentesPorDia

           nVictimas
dia
DOMINGO           96
JUEVES           122
LUNES             94
MARTES           135
MIERCOLES        114
SABADO           105
VIERNES          110

### Accidentes teniendo en cuenta el tipo de accidente y el clima o estado de la via

In [16]:
## Mezclar por ejemplo cuando hizo lluvia y se chocaron contra un objeto. por ejemplo

lluviaChoqueConObjeto = df[(df["climaLluvia"] =="SI") & (df["tipoAccidente"] == "CHOQUE CON OBJETO FIJO")]
## renombramos los campos ya no no funciona así

df["tipoAccidente"] = df["tipoAccidente"].str.replace("CAÍDA BICICLETA", "CAIDABICI")
df["tipoAccidente"] =df["tipoAccidente"].str.replace("COLISIÓN DOBLE", "COLISIONDOBLE")
df["tipoAccidente"] =df["tipoAccidente"].str.replace("CHOQUE CON OBJETO FIJO", "CHOQUEOBJETOFIJO")
df["tipoAccidente"] =df["tipoAccidente"].str.replace("CAÍDA MOTOCICLETA", "CAIDAMOTO")

# importante, deja espacios en blanco al final
df["tipoAccidente"] =df["tipoAccidente"].str.strip()


#df.head(10)

lluviaChoqueConObjeto = df[(df["climaLluvia"] =="SI") & (df["tipoAccidente"] == "CHOQUEOBJETOFIJO")]
#lluviaChoqueConObjeto.head()

lluviaChoqueConObjeto = lluviaChoqueConObjeto["nVictimas"].sum()
## 1 COn lluvia y choque contra objeto
lluviaChoqueConObjeto

1

In [17]:
# Ahora vemos los choques contra objetos en dias secos
secoChoqueConObjeto = df[(df["climaSeco"] =="SI") & (df["tipoAccidente"] == "CHOQUEOBJETOFIJO")]
#lluviaChoqueConObjeto.head()

secoChoqueConObjeto = secoChoqueConObjeto["nVictimas"].sum()
## 15 COn clima seco y choque contra objeto
secoChoqueConObjeto

15

In [18]:
# Se puede determinar que la lluvia no es un factor influyente a la hora de chocar con objetos,
# Veamos a continuación si lo es para una caida

lluviaCaida = df[(df["calzadaMojada"] =="SI") & (df["tipoAccidente"] == "CAIDABICI")]

lluviaCaida = lluviaCaida["nVictimas"].sum()
lluviaCaida
# 43 Caidas con la calzada mojada

43

In [19]:
# Veamos a continuación con la calzada seca y limpia
secaLimpiaCaida = df[(df["calzadaSecaLimpia"] =="SI") & (df["tipoAccidente"] == "CAIDABICI")]

secaLimpiaCaida = secaLimpiaCaida["nVictimas"].sum()
secaLimpiaCaida
# 233, no podemos determinar que la calzada mojada sea influyente ya que no tenemos los datos
# de cuantas bicicletas salen con calzada seca y limpia y cuantas con lluvia. Vamos a ver
# a continuación si afecta a los choques con otro vehículo

233

In [20]:
secaLimpiaColision = df[(df["calzadaSecaLimpia"] =="SI") & (df["tipoAccidente"] == "COLISIONDOBLE")]

secaLimpiaColision = secaLimpiaColision["nVictimas"].sum()
secaLimpiaColision
#319

319

In [21]:
lluviaColision = df[(df["calzadaMojada"] =="SI") & (df["tipoAccidente"] == "COLISIONDOBLE")]

lluviaColision = lluviaColision["nVictimas"].sum()
lluviaColision
# 40, de nuevo son bastantes menos las colisiones con calzada mojada que con la calzada seca
# se puede presuponer que se hace un menor uso de la bicicleta cuando hay lluvia

40

In [22]:
### Lluvia y heridos graves
df["lesividad"] =df["lesividad"].str.strip()


lluviaHg = df[(df["calzadaMojada"] =="SI") & (df["lesividad"] == "HG")]

lluviaHg = lluviaHg["nVictimas"].sum()
lluviaHg

10

In [23]:
### Lluvia y heridos leves

lluviaHl = df[(df["calzadaMojada"] =="SI") & (df["lesividad"] == "HL")]

lluviaHl = lluviaHl["nVictimas"].sum()
lluviaHl

74

In [24]:
# vamos a ver que sucede ante accidentes con la calzada seca y su lesividad
secaHg = df[(df["calzadaSecaLimpia"] =="SI") & (df["lesividad"] == "HG")]

secaHg = secaHg["nVictimas"].sum()
secaHg
# 55

55

In [25]:
# 
secaHl = df[(df["calzadaSecaLimpia"] =="SI") & (df["lesividad"] == "HL")]

secaHl = secaHl["nVictimas"].sum()
secaHl

538

### Calles de Madrid con más accidentes

In [41]:
#accidentesPorCalle= pd.pivot_table(df, index= "calle", aggfunc="sum", values="nVictimas").sort_values(ascending = False)

accidentesPorCalle = df.groupby(["calle"])["nVictimas"].count().sort_values(ascending = False)
#accidentesPorCalle.columns = ["calle", "nAccidentes"]

accidentesPorCalle.head(5)
# Calle Alacala y Bravo murillo son las ganadoras

calle
CALLE DE ALCALA NUM                                                                                     15
CALLE DE BRAVO MURILLO NUM                                                                              10
PARQUE DE MADRID RIO (RIBERA OESTE) KM.                                                                  9
CALLE DE SANTA ENGRACIA NUM                                                                              8
PASEO DEL PRADO NUM                                                                                      8
Name: nVictimas, dtype: int64

### Calles de Madrid con más accidentes

In [47]:
lesividadEdad = df.groupby(["lesividad", "tramoEdad"])["nVictimas"].count().sort_values(ascending = False)
lesividadEdad

## Se puede que decir que para la mayoria de rangos de edad son heridos leves

lesividad  tramoEdad
HL         DE 25 A 29 AÑOS       94
           DE 30 A 34 ANOS       85
           DE 35 A 39 AÑOS       68
           DE 40 A 44 AÑOS       65
           DE 45 A 49 AÑOS       45
           DE 50 A 54 AÑOS       39
           DE 18 A 20 AÑOS       36
           DE 21 A 24 AÑOS       33
           DE 55 A 59 AÑOS       29
           DE 15 A 17 AÑOS       22
           DE 10 A 14 AÑOS       13
IL         DE 18 A 20 AÑOS       11
HL         DE 60 A 64 AÑOS       11
           DE 65 A 69 AÑOS       11
HG         DE 30 A 34 ANOS       10
           DE 40 A 44 AÑOS        9
IL         DE 25 A 29 AÑOS        9
           DE 35 A 39 AÑOS        9
HG         DE 25 A 29 AÑOS        9
HL         DE 70 A 74 AÑOS        8
HG         DE 55 A 59 AÑOS        7
IL         DE 30 A 34 ANOS        7
HL         DE MAS DE 74 AÑOS      7
HG         DE 35 A 39 AÑOS        6
IL         DE 45 A 49 AÑOS        6
HG         DE 45 A 49 AÑOS        5
           DE 50 A 54 AÑOS        5
IL         DE 40 A 44 AÑOS        5
HG         DE 21 A 24 AÑOS        4
           DE 10 A 14 AÑOS        3
IL         DE 15 A 17 AÑOS        3
           DE 21 A 24 AÑOS        3
           DE 50 A 54 AÑOS        3
HG         DE 60 A 64 AÑOS        2
HL         DE 6 A 9 AÑOS          2
IL         DE 60 A 64 AÑOS        1
HL         DESCONOCIDA            1
IL         DE 10 A 14 AÑOS        1
           DE 6 A 9 AÑOS          1
           DESCONOCIDA            1
Name: nVictimas, dtype: int64